body {
  overflow: hidden;
}

.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  color: white;
  overflow: hidden;
}

.App-logo {
  animation: App-logo-spin infinite 10s linear;
  height: 40vmin;
}

.App-header {
  min-height: 20vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
}

.App-header-left {
  width: 30vw;
}

.App-header-right {
  width: 30vw;
  text-align: right;
}

.App-link {
  color: #61dafb;
  cursor: pointer;
  text-decoration: underline;
}

.App-link-active {
  color: #e9515e;
  cursor: pointer;
  text-decoration: underline;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Page {
  height: 80vh;
}

.Content {
  font-size: 3rem;
  height: calc(80vh - 100px);
  line-height: calc(80vh - 100px);
}
